.footer
{
    font-family: $font-stack;

    position: absolute;
    bottom: 0;

    display: flex;

    width: 100%;
    height: 7vh;

    color: $font-areas;
    background-color: $base-color;

    align-items: center;
    justify-content: center;
}
