.header
{
    font-family: $font-stack;
    font-size: 2em;
    font-weight: bold;

    display: flex;

    width: 100%;
    height: 15vh;

    color: $font-areas;
    background-color: $base-color;

    justify-content: center;
    align-items: center;
}
